.button
{
    display: inline-block;

    padding-right: 13px;
    margin-left: 6px;

    cursor: pointer;
}

.button,
.button__text
{
    background: url(button.png) no-repeat 100% 0;
}

.button__text
{
    background-position: 0 100%;

    color: #fff;

    font-size: 18px;
    font-style: normal;

    line-height: 35px;

    display: block;

    padding: 0 7px 5px 16px;
    margin: 0 0 0 -15px;
}
