.illustration__zoom
{
    color: #0e62fd;
    cursor: pointer;

    display: inline-block;

    margin: 20px 0 0 27px;
}

.illustration__zoom:hover
{
    color: #600;
}

.illustration__zoom::before
{
    content: '';
    background: url(illustration__zoom.png) no-repeat 0 0;

    position: absolute;

    width: 22px;
    height: 19px;

    margin-top: 2px;
    margin-left: -22px;
}
